<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="PaperManagementConnectionString" connectionString="Data Source=WIN7-20140202QH;Initial Catalog=PaperManagement;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Service1Soap" />
                <binding name="Service1Soap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8623/Service1.asmx" binding="basicHttpBinding"
                bindingConfiguration="Service1Soap" contract="ServiceReference1.Service1Soap"
                name="Service1Soap" />
            <endpoint address="http://localhost:8623/Service1.asmx" binding="basicHttpBinding"
                bindingConfiguration="Service1Soap1" contract="ServiceReference11111.Service1Soap"
                name="Service1Soap1" />
        </client>
    </system.serviceModel>
</configuration>
